/*Align body to center of page*/
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
/*Create a 16 by 16 grid of squares*/
.grid-container{
    height: 500px;
    width: 500px;
    
    margin: 0;
    padding: 0;
    display: grid;
}
/*Align button in center*/
.button-container {
    display: flex;
    justify-content: center;
}